/* ========================== */
/* SIO Easy Custom Variables  */
/* ========================== */
@import "sio-easy-common";

/* ========================== */
/* SIO Easy Easy Cards Style  */
/* ========================== */
.card {

    padding: 0px;

    /* Image settings */
    img {
        width: 100%;
    }

    /* Header settings */
    .card-header {

        padding: 12px 0 10px 12px;

        h1, h2, h3, h4, h5, h6 {
            margin: 0;
            font-weight: 300;
        }

        .card-subtitle {
            padding-top: 6px;
        }
    }

    /* Body settings */
    .card-body {

        padding: 10px 12px;
        font-weight: 300;

        p {
            font-size: 90%;
        }
    }
}

.card-light {

    background-color: $light-background;
    border: $light-border;

    .card-subtitle {
        color: $light-subtitle;
    }

    h1, h2, h3, h4, h5, h6 {
        color: $light-header;
    }

    div, p {
        color: $light-content;
    }
}

.card-dark {

    border: $dark-border;
    background-color: $dark-background;

    .card-subtitle {
        color: $dark-subtitle;
    }

    h1, h2, h3, h4, h5, h6 {
        color: $dark-header;
    }

    div, p {
        color: $dark-content;
    }
}

.card-sea {

    border: $sea-border;
    background-color: $sea-background;

    .card-subtitle {
        color: $sea-subtitle;
    }

    h1, h2, h3, h4, h5, h6 {
        color: $sea-header;
    }

    div, p {
        color: $sea-content;
    }
}

.card-fire {

    border: $fire-border;
    background-color: $fire-background;

    .card-subtitle {
        color: $fire-subtitle;
    }

    h1, h2, h3, h4, h5, h6 {
        color: $fire-header;
    }

    div, p {
        color: $fire-content;
    }
}

.card-forest {

    border: $forest-border;
    background-color: $forest-background;

    .card-subtitle {
        color: $forest-subtitle;
    }

    h1, h2, h3, h4, h5, h6 {
        color: $forest-header;
    }

    div, p {
        color: $forest-content;
    }
}

.card-earth {

    border: $earth-border;
    background-color: $earth-background;

    .card-subtitle {
        color: $earth-subtitle;
    }

    h1, h2, h3, h4, h5, h6 {
        color: $earth-header;
    }

    div, p {
        color: $earth-content;
    }
}

.card-air {

    border: $air-border;
    background-color: $air-background;

    .card-subtitle {
        color: $air-subtitle;
    }

    h1, h2, h3, h4, h5, h6 {
        color: $air-header;
    }

    div, p {
        color: $air-content;
    }
}

.card-winter {

    border: $winter-border;
    background-color: $winter-background;

    .card-subtitle {
        color: $winter-subtitle;
    }

    h1, h2, h3, h4, h5, h6 {
        color: $winter-header;
    }

    div, p {
        color: $winter-content;
    }
}

.card-autumn {

    border: $autumn-border;
    background-color: $autumn-background;

    .card-subtitle {
        color: $autumn-subtitle;
    }

    h1, h2, h3, h4, h5, h6 {
        color: $autumn-header;
    }

    div, p {
        color: $autumn-content;
    }
}

.card-lotus {

    border: $lotus-border;
    background-color: $lotus-background;

    .card-subtitle {
        color: $lotus-subtitle;
    }

    h1, h2, h3, h4, h5, h6 {
        color: $lotus-header;
    }

    div, p {
        color: $lotus-content;
    }
}

.card-gold {

    border: $gold-border;
    background-color: $gold-background;

    .card-subtitle {
        color: $gold-subtitle;
    }

    h1, h2, h3, h4, h5, h6 {
        color: $gold-header;
    }

    div, p {
        color: $gold-content;
    }
}

.card-leaf {

    border: $leaf-border;
    background-color: $leaf-background;

    .card-subtitle {
        color: $leaf-subtitle;
    }

    h1, h2, h3, h4, h5, h6 {
        color: $leaf-header;
    }

    div, p {
        color: $leaf-content;
    }
}


/* Card rounded */
.card-rounded {
    border-radius: 6px;
}

