/* ========================== */
/* SIO Easy Common Variables  */
/* ========================== */

/* Light */
$light-background: #fff;
$light-background-alpha: rgba(255,255,255,0.82);
$light-border: 1px solid #ececec;
$light-header: #0f0f0f;
$light-subtitle: #b2b2b2;
$light-content: #5c5c5c;

/* Dark */
$dark-background: #2a2a2a;
$dark-background-alpha: rgba(42,42,42,0.72);
$dark-border: 1px solid #000;
$dark-header: #fff;
$dark-subtitle: #d4d4d4;
$dark-content: #fff;

/* Sea */
$sea-background: #045A9B;
$sea-background-alpha: rgba(4,90,155,0.85);
$sea-border: 1px solid #046D8B;
$sea-header: #FFF;
$sea-subtitle: #B8E0EE;
$sea-content: #EFEFEF;

/* Fire */
$fire-background: #9F1824;
$fire-background-alpha: rgba(159,24,36,0.8);
$fire-border: 1px solid #9F1824;
$fire-header: #FCF2C8;
$fire-subtitle: #F0D1D1;
$fire-content: #FCF2C8;

/* Forest */
$forest-background: #DDE2A4;
$forest-background-alpha: rgba(221,226,164,0.85);
$forest-border: 1px solid #DDE2A4;
$forest-header: #476144;
$forest-subtitle: #668063;
$forest-content: #476144;

/* Earth */
$earth-background: #564334;
$earth-background-alpha: rgba(86,67,52,0.85);
$earth-border: 1px solid #564334;
$earth-header: #FFFAB3;
$earth-subtitle: #CFB590;
$earth-content: #FFFAB3;

/* Air */
$air-background: #E3F7FE;
$air-background-alpha: rgba(227,247,254,0.8);
$air-border: 1px solid #E3F7FE;
$air-header: #2E4859;
$air-subtitle: #6DA59C;
$air-content: #2E4859;

/* Winter */
$winter-background: #EDEDF2;
$winter-background-alpha: rgba(237,237,242,0.85);
$winter-border: 1px solid #EDEDF2;
$winter-header: #65727A;
$winter-subtitle: #8F9A9C;
$winter-content: #65727A;

/* Autumn */
$autumn-background: #A84818;
$autumn-background-alpha: rgba(168,72,24,0.85);
$autumn-border: 1px solid #A84818;
$autumn-header: #F6D5AD;
$autumn-subtitle: #F6B794;
$autumn-content: #F6D5AD;

/* Lotus */
$lotus-background: #571B3C;
$lotus-background-alpha: rgba(87,27,60,0.85);
$lotus-border: 1px solid #571B3C;
$lotus-header: #F8DFCF;
$lotus-subtitle: #DFBFCF;
$lotus-content: #F8DFCF;

/* Gold */
$gold-background: #C39738;
$gold-background-alpha: rgba(195,151,56,0.9);
$gold-border: 1px solid #C39738;
$gold-header: #5E4318;
$gold-subtitle: #7F4311;
$gold-content: #5E4318;

/* Leaf */
$leaf-background: #6AAD1C;
$leaf-background-alpha: rgba(106,173,28,0.85);
$leaf-border: 1px solid #A7CD2C;
$leaf-header: #F0F2DD;
$leaf-subtitle: #E2FF9E;
$leaf-content: #F0F2DD;
